[Desktop Entry]
Name=PyCharm-Community
Comment=The Python IDE for Professional Developers 
Exec=AppRun %U
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=icon
Categories=Development;Office;
StartupWMClass=PyCharm
StartupNotify=true
