[Desktop Entry]
Name=PyCharm-Community
Comment=The Python IDE for Professional Developers 
Exec=AppRun %U
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=pycharm
Categories=Development;
StartupWMClass=PyCharm-Community
StartupNotify=true
